
/* zero out default*/

* {
    padding: 0;
    margin: 0;
}


header {
    text-align: center;
    background-color: rgb(243, 184, 184);
    padding: 20px 0px;
    font-size: 1.2em;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Header in small screen*/

@media (max-width: 576px) {
    header {
        font-size: 1em;
    }
}

#customer {
    background-color: rgba(211, 216, 193, 0.973);
    padding: 2em;
    font-size: 1.5em;
}
#inner-customer {
    max-width: 45%;
    width: 100%;
    margin: 0 auto;
}

.customer-info {
    margin: 0 auto 1rem auto;
}

.customer-info > label {
    width: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0.2em 0.2em;
}

#name, #email, #number {
    display: block;
    margin: 0;
    width: 100%;
    height: 2em;
    border: 2px solid;
    border-radius: 6px;
    padding: 5px 10px;
}

#name:hover, #email:hover, #number:hover {
    border: 3px solid blue;
}

/* Customer Information in small screen*/
@media (max-width: 576px) {
    #customer {
        padding: 1em;
        font-size: 1.2em;
    }

    #inner-customer {
        max-width: 80%;
    }

}

.background {
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: center;
}

.option-container {
    width: 100%;
    padding-top: 1rem;
    margin: 0 auto 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.option {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 0.57em;
}

select {
    border: 2px solid;
    max-width: 55%;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
}

#questioner2 {
    max-width: 60%;
    width: 100%;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 5em auto 5em auto;  
}

/*Questioner in medium screen*/

@media (max-width: 768px) {
    #questioner2 {
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       margin: 3em auto;
    }
}

.sub-questioner2 {
    margin-bottom: 1em;
}

h3 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.3em;
}

.inner-questioner {
    line-height: 1.3em;
    font-size: 1.7em;
    padding: 0 5px;
    box-sizing: border-box;
}


/* Questioner in small screen*/

@media (max-width: 576px) {
    .inner-questioner {
        font-size: 1.3em;
    }

    .sub-questioner2, .sub-questioner3 {
        text-align: center;
    }
}

input[type="radio"], input[type="checkbox"] {
    transition: 0.3s ease-in-out;
    border: 0px;
}


input[type="radio"]:hover, input[type="checkbox"]:hover {
    transform: scale(1.9);
}

div h4 {
    font-size: 2rem;
    margin: 10px 0;
}


/* Purpose in small screen*/

@media (max-width: 576px) {
    div h4 {
        font-size: 1.2em;
    }
}
#questioner2, .purpose {
    background-color: blanchedalmond;
    opacity: 0.7;
}
article {
    padding: 2em;
    font-size: 1.1em;
    color: black;
}

.purpose h4 {
    text-align: center;
    font-size: 2.6em;
}

.purpose-wrapper > p {
    padding-bottom: 1em;
    text-align: justify;
}

article > p {
    font-size: 1.2em;
    max-width: 55%;
    width: 100%;
}

aside {
    width: 43%;
    float: right;
    padding: 1em 0.5em;
    margin-left: 0.9rem;
    box-shadow: inset 5px 2px 5px 5px  black;
}

aside > p {
    margin-left: 0.7rem;
}

.suggestion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 1.5rem 0;
}

.suggestion h4 {
    color: white;
}

textarea {
    width: 60%;
    resize: vertical;
    min-height: 10vh;
    border: 4px solid;
}

#submit {
    font-size: 1.2rem;
    padding: 10px 10px;
    width: 60%;
    border: 3px solid;
    border-radius: 7px;
    box-sizing: border-box;
}

#submit:hover {
    color: white;
    background-color: rgba(136, 132, 132, 0.932);
    border-color: rgb(243, 184, 184);
}

footer {
    background-color: rgb(243, 184, 184);
}

footer p {
    width: 100%;
    padding: 10px 5px;
    text-align: center;
}



 


